aenum==2.2.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dbf==0.99.0
dbfpy==2.3.1
dj-config-url==0.1.1
dj-static==0.0.6
Django==2.2.3
googlemaps==4.4.2
gunicorn==20.0.4
idna==2.10
joblib==0.17.0
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
pandas==1.0.3
Pillow==8.0.1
psycopg2==2.8.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.3
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
static3==0.7.0
threadpoolctl==2.1.0
urllib3==1.25.10
